Proyecto/Lyrics/WebContent/wsdl/LyricsAPI.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://Classes" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://Classes" xmlns:intf="http://Classes" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://Classes" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getLyrics">
    <complexType>
     <sequence>
      <element name="songName" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getLyricsResponse">
    <complexType>
     <sequence>
      <element name="getLyricsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getLyricsRequest">

      <wsdl:part element="impl:getLyrics" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getLyricsResponse">

      <wsdl:part element="impl:getLyricsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LyricsAPI">

      <wsdl:operation name="getLyrics">

         <wsdl:input message="impl:getLyricsRequest" name="getLyricsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getLyricsResponse" name="getLyricsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LyricsAPISoapBinding" type="impl:LyricsAPI">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getLyrics">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getLyricsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getLyricsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LyricsAPIService">

      <wsdl:port binding="impl:LyricsAPISoapBinding" name="LyricsAPI">

         <wsdlsoap:address location="http://localhost:8080/Lyrics/services/LyricsAPI"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
